<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--加载配置文件然后使用${} value来取值-->
    <context:property-placeholder location="classpath:conf/resource.properties"/>


    <context:component-scan base-package="com.igeek.ebuy.manager.controller"/>


    <mvc:annotation-driven></mvc:annotation-driven>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!--配置fastdfsclient-->
    <bean class="com.igeek.ebuy.util.FastDFSClient">
        <constructor-arg index="0" value="classpath:conf/client.conf"></constructor-arg>
    </bean>

    <!--配置上传图片-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--设置文件上传的最大值-->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>


    <!-- 配置资源映射 -->
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>

    <!--引用服务端发布的服务-->
    <!-- 引用dubbo服务 -->
    <!-- 在注册中心的应用的名称 -->
    <dubbo:application name="ebuy-manager-web"/>
    <!-- 配置注册中心的相关信息 -->
    <dubbo:registry protocol="zookeeper" address="192.168.217.132:2181"/>

    <!--引用指定的服务  id 在本应用中的id-->
    <dubbo:reference interface="com.igeek.ebuy.service.ItemService" id="itemService"/>
    <!--引用 itemcat 分类服务-->
    <dubbo:reference interface="com.igeek.ebuy.service.ItemCatService" id="itemCatService"/>
    <!--引用 category 分类服务-->
    <dubbo:reference interface="com.igeek.ebuy.content.service.ContentCategoryService" id="contetnCategoryServiceid"/>
    <!--保存content-->
    <dubbo:reference interface="com.igeek.ebuy.content.service.ContentService" id="contentService"></dubbo:reference>

</beans>